
Permainan tongkat estafet diikuti sebanyak N peserta,
Setiap pemain membutuhkan waktu 1 detik untuk men-transfer tongkat ke pemain berikutnya, jika tongkat mencapai akhir pemain maka pemain terakhir harus memberikan tongkat ke pemain sebelumnya dengan urutan terbalik,
demi melakukan permainan yang adil/fair , wasit ingin melihat posisi tongkat pada t second , maka akan keluar siapa yang memegang tongkat pada waktu tersebut.

```
N = total pemain
t = waktu dalam second 
no. pemain = 1 s/d N-1

contoh input : N = 5, dan t = 4 

output : pemain = 1, 2, 3, 4, 5
         posisi tongkat pada detik ke 4 = pemain ke-3


contoh input : N = 5, dan t = 8 

output : pemain = 1, 2, 3, 4, 5
         posisi tongkat pada detik ke 8 = pemain ke- 1
```

In [8]:


def pass_baton_2(n : int, time : int) -> int:
    
    player_sequence = list(range(1, n + 1)) + list(range(n - 1, 0, -1))
    
    # if time == len(player_sequence) or time > len(player_sequence) :
    #     return "game end"
    
    counter = 1
    for player in range(len(player_sequence)):
        # print(player_sequence[player])
        if time == counter :
            return player_sequence[player + 1]
        
        counter = counter + 1

In [9]:
pass_baton_2(5, 20)

In [42]:

import pandas as pd
import vaex
import numpy as np

In [43]:

def read_dataset(path : str) -> pd.DataFrame:
    
    df = pd.read_csv(path, compression='zip', chunksize=100000)
    
    temp = pd.DataFrame()
    for idx, segment in enumerate(df):
        if idx >= 10:
            return temp
        data = next(df).sample(1000)
        temp = pd.concat([temp, data], ignore_index=True)
    
    return "ALL DONE"


def read_hadoop(path : str) -> pd.DataFrame:
    
    return vaex.open(path)


def process_nan(data):
    temp = data.copy()
    
    temp = temp.fillna(method = "ffill")
    
    return temp

def transform_log(data : pd.DataFrame) : 
    temp = data.copy()
    for col in temp.columns:
        temp[col] = list(map(lambda x: np.log(x) , temp[col]))
    
    return temp

def square_root(data : pd.DataFrame):

def ambil_sebagian_kolom(data , kolom: list):
    temp = data.copy()
    
    return temp.loc[:, f"{kolom[0]}" : f"{kolom[1]}"]





if __name__ == "__main__":
    
    path = 'train_data.csv.zip' 
    if path.split('csv.') == 'zip':
        
        data = read_dataset(path)
    else :
        data = read_hadoop(path)
        
        
    selected_data = ambil_sebagian_kolom(data, kolom=['P_2', 'D_41'])
    selected_data = process_nan(selected_data)
    selected_data = transform_log(selected_data)

C:\Users\Keine\AppData\Local\Temp\ipykernel_18120\1189857785.py:31: RuntimeWarning: invalid value encountered in log
  temp[col] = list(map(lambda x: np.log(x) , temp[col]))

In [44]:
selected_data

           P_2      D_39       B_1       B_2        R_1       S_3      D_41
0    -0.408767 -4.748964 -3.845208  0.007731  -5.732409 -1.383404 -6.089098
1    -0.098209 -3.467016 -4.474984 -0.204444  -5.082690 -1.383404 -6.793164
2    -0.340654 -3.321860 -4.932996 -0.205289  -5.768156 -1.547274 -5.036331
3    -0.018269 -0.813957 -3.135991  0.009938  -4.943599 -1.699937 -7.712861
4     0.001956 -2.828040 -2.834104  0.006580  -5.016868 -2.309506 -4.684660
...        ...       ...       ...       ...        ...       ...       ...
9995 -0.426689 -6.601155 -5.580229  0.004243 -10.236835 -1.926515 -5.828731
9996 -0.083956 -5.774391 -3.675608 -0.206181  -4.905769 -1.949040 -4.758764
9997       NaN -4.905838 -0.630209 -3.797321  -5.454544 -1.917437 -1.594915
9998 -0.673559 -4.852516 -4.925818 -0.205297  -5.027461 -1.142270 -4.877409
9999 -0.332569 -5.305330 -6.220547 -0.200689  -4.616486 -1.142270 -5.444488

[10000 rows x 7 columns]